html {
    height: 100%;
}

body {
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#menu {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: darkGray;
    color: white;
    padding: 0;
    height: 45px;
}
#animate {
    padding : 10px;
}

#status {
    position         : absolute;
    width            : 30px;
    height           : 3px;
    top: 2px;
    left: 338px;
    z-index          : 2;
    background-color : darkgray;
    color            : white;
    padding          : 10px;
}

#progress {
    position: absolute;
    width: 250px;
    height: 3px;
    top: 8px;
    left: 66px;
    z-index: 2;
    background-color: darkGray;
    color: white;
    padding: 10px;
}

#map_canvas {
    height: 100%;
}
#map_canvas {
    position : absolute;
    top      : 45px;
    left     : 0px;
    width    : 600px;
    height   : 500px;
}

#maps {
    position : absolute;
    top      : 50px;
    width : 100%;
    height : 90%;
}
.map_container {
    padding-top: 20px;
    float: left;
    height: 48%;
    width: 50%;
 }
.map {
    width : 100%;
    height : 100%;
}




/* openlayers */
.olControlAttribution {
    bottom: 5px;
    font-size: 9px;
}
#customZoom {
    z-index: 1001;
    position: relative;
    top: 10px;
    left: 10px;
}
#customZoom a {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #369;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#customZoom a:hover {
    background: #036;
}
#customZoomOut {
    top: 25px;
}


